{{!-- <div local-class="select"> --}}
{{#bs-dropdown local-class="title" tagName="span" as |dd|}}
    {{#dd.toggle}}{{data.current}}<span class="caret"></span>{{/dd.toggle}}
    {{#dd.menu local-class="ull" as |menu|}}
        {{#each data.selected as |selected|}}
            {{#if (not-eq data.current selected.text)}}
                {{#menu.item}}
                    <span {{action 'onclick' selected.type selected.columns_id}}>{{selected.text}}</span>
                {{/menu.item}}
                {{menu.divider}}
            {{/if}}
            {{!-- {{#menu.item}}
                <span {{action 'onclick' selected.type selected.columns_id}}>{{selected.text}}</span>
            {{/menu.item}}
            {{menu.divider}} --}}
        {{/each}}
    {{/dd.menu}}
{{/bs-dropdown}}
{{!-- </div> --}}
