{{yield}}
{{!-- <div local-class="hosp-nav" class="container"> --}}
    <p local-class="back" {{action "backHospList"}}>&lt;&lt;返回医院列表</p>
    <div local-class="nav-right">
        <p>第 {{currentIndex}} 家/共 {{total}} 家</p>
        <p local-class="changeHosp" {{action 'preHosp' preHopsid}}><span class="glyphicon glyphicon-triangle-left"></span>上一家</p>
        <p local-class="changeHosp" {{action 'nextHosp' nextHospid}}>下一家<span class="glyphicon glyphicon-triangle-right"></span></p>
    </div>
{{!-- </div> --}}
