{{#bs-accordion as |acc|}}
    {{#each hospital as |hosp|}}
        {{#acc.item local-class="hosp-item" value=hosp.id as |aitem|}}
            {{#aitem.title local-class="info" class="container" }}
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" local-class="avatar">
                        <img src= {{hosp.overview.hosp_image}} alt="">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" local-class="overview">
                        <p local-class="title"><span>{{hosp.overview.hosp_name}}</span> <span>{{hosp.overview.hosp_category}}/{{hosp.overview.hosp_level}}</span> </p>
                        <p local-class="department">
                            <span>重点科室：</span>
                            {{#each (string-to-array hosp.overview.department ';') as |value|}}
                                <span>{{value}}</span>
                            {{/each}}
                        </p>
                        <p local-class="outpatient">
                            <span>特色门诊：</span>
                            {{#each (string-to-array hosp.overview.featured_outpatient ';') as |value|}}
                                <span>{{value}}</span>
                            {{/each}}
                        </p>
                    </div>
                </div>
            {{/aitem.title}}
            {{#aitem.body local-class="medicine-info" }}
                {{#each hosp.medicines as |medic|}}
                    <div local-class="medicine medicine-component">
                        {{#bs-carousel
                          local-class="changepage"
                          autoPlay=true
                          index=integerIndex
                          showControls=true
                          showIndicators=false
                          wrap=true
                          interval=1000000
                          ltr=true
                          pauseOnMouseEnter=true
                          as |car|}}
                          {{#car.slide}}
                            {{target-detail-hospital-page data=hosp}}
                          {{/car.slide}}
                          {{#car.slide}}
                          <div local-class="medicine-area">
                              {{#bs-button-group
                                  local-class="title"
                                  value=buttonGroupValue
                                  type="checkbox"
                                  onChange=(action (mut buttonGroupValue)) as |bg|}}
                                  {{#bg.button value=1}}{{medic.prod_category}}{{/bg.button}}
                              {{/bs-button-group}}
                              {{!-- <div class="btn-group" role="group" aria-label="Basic example" local-class="title">
                                  <div class="btn-group" role="group" aria-label="...">
                                      <button type="button" class="btn btn-default"></button>
                                  </div>
                                  {{!-- <button type="button" class="btn btn-secondary">{{medic.prod_category}}</button> --}}
                              {{!-- </div> --}}
                              <div local-class="properties">
                                  {{#each medic.overview as |ov|}}
                                      <div local-class="property">
                                          {{#if (eq ov.key '增长潜力')}}
                                              <p>{{ov.key}}</p>
                                              <p>{{number-to-percent ov.value}}%</p>
                                              {{else if (eq ov.key '上期增长')}}
                                              <p>{{ov.key}}</p>
                                              <p>{{number-to-percent ov.value}}%</p>
                                              {{else if (eq ov.key '份额')}}
                                              <p>{{ov.key}}</p>
                                              <p>{{number-to-percent ov.value}}%</p>
                                              {{else if (eq ov.key '上期贡献率')}}
                                              <p>{{ov.key}}</p>
                                              <p>{{number-to-percent ov.value}}%</p>
                                          {{else}}
                                              <p>{{ov.key}}</p>
                                              <p>{{number-format ov.value}}</p>
                                          {{/if}}

                                      </div>
                                  {{/each}}
                              </div>
                              <div local-class="compare">
                                  <div class="col-md-12 col-lg-6">
                                      <h5>药品详情</h5> {{detail-table data=medic.detail}}
                                  </div>
                                  <div class="col-md-12 col-lg-6">
                                      <h5>药品历史</h5> {{detail-table  data=medic.history}}
                                  </div>
                                  {{!-- {{detail-table  data=medic.compete_goods}} --}}
                              </div>
                          </div>

                        <div local-class="input-area">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" local-class="area-left">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div local-class="part-input">
                                    <div local-class="input-line">
                                        {{!-- <p>{{item.lable}}</p> --}}
                                        <p local-class="input-title">指标设定</p>
                                        {{!-- <p>{{input type="number" value=item.value}}<span>{{item.unit}}</span></p> --}}
                                        <div local-class="input-con">
                                            <div class="input-group">
                                                <input type="text" class="form-control" aria-describedby="basic-addon2">
                                                <span class="input-group-addon" id="basic-addon2">元</span>
                                            </div>
                                        </div>
                                        <div local-class="input-result">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon2">指标增长</span>
                                                <input type="text" disabled class="form-control" aria-describedby="basic-addon2">
                                                <span class="input-group-addon" id="basic-addon2">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div local-class="part-input">
                                    <div local-class="input-line">
                                        <p local-class="input-title">预算分配</p>
                                        <div local-class="input-con">
                                            <div class="input-group">
                                                <input type="text" class="form-control" aria-describedby="basic-addon2">
                                                <span class="input-group-addon" id="basic-addon2">元</span>
                                            </div>
                                        </div>
                                        <div local-class="input-result">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon2">预算所占</span>
                                                <input type="text" disabled class="form-control" aria-describedby="basic-addon2">
                                                <span class="input-group-addon" id="basic-addon2">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="margin-right">
                                <div local-class="area-right">
                                    <div local-class="part-input">
                                        <div local-class="input-line">
                                            <p local-class="input-title">人员分配</p>
                                        </div>
                                    </div>
                                    <div local-class="sign-person" class="col-md-6 col-sm-6">
                                            <img src="https://pharbers-images.oss-cn-beijing.aliyuncs.com/pharbers-tm-accordion-ember-addon/avatar.png" alt="头像" class="img-thumbnail" local-class="head-img">

                                        <div class="btn-group">
                                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            请选择人员 <span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                          </ul>
                                        </div>
                                    </div>
                                    <div local-class="part-input" class="col-md-6 col-sm-6">
                                        <div local-class="input-line input-group">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon2">&nbsp;&nbsp;&nbsp;&nbsp;分配&nbsp;&nbsp;&nbsp;</span>
                                                <input type="text" class="form-control" aria-describedby="basic-addon2">
                                                <span class="input-group-addon" id="basic-addon2">天</span>
                                            </div>
                                        </div>
                                        <div local-class="input-line input-group">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon2">经理陪同</span>
                                                <input type="text" class="form-control" aria-describedby="basic-addon2">
                                                <span class="input-group-addon" id="basic-addon2">天</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        {{!-- <div class="carousel-caption">
                          First caption
                          <button type="button" name="button" id="carousel" {{action 'carousel'}}>tianxie</button>
                        </div> --}}
                        {{/car.slide}}

                      {{/bs-carousel}}
                    </div>
                {{/each}}
            {{/aitem.body}}
        {{/acc.item}}
    {{/each}}
{{/bs-accordion}}
