{{yield}}
{{#if isShowList}}
    <div local-class="all-reps">
        <p local-class="title">{{allReps.title}}</p>
        {{#each allReps.reps as |item|}}
            {{target-representative-card data=item showMore=(action 'showMore')}}
        {{/each}}
    </div>
{{else}}
    {{target-rep-detail data=detail show=isShowList hideDetail=(action 'hideDetail')}}
{{/if}}
