{{yield}}
{{#mapping-component result as |componentName component|}}
<div local-class="detail-container">
	<div local-class="content">
		<div local-class="hosp-nav" class="container"></div>
		<div local-class="hosp-detail" class="container">
			<div local-class="basic-info" class="row">
                {{which-result }}
				<div local-class="overview">
					{{!-- {{#each overviewData as |item|}} --}}
						{{!-- {{overview-number itemData=item}} --}}
                        {{result-card }}
					{{!-- {{/each}} --}}
				</div>
			</div>
			<div local-class="medicine-info">
				<div local-class="medicine">
					<div local-class="right-content">
						{{!-- {{self-table model=columnsHospitalValue columns=columnsHospital selfheight='480px'}} --}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/mapping-component}}
