{{!-- {{#mapping-components data.component_data as |componentName component|}} --}}
<div local-class="column center">
    <div local-class="inside">
        {{#mapping-components data.component_data as |componentName component|}}
            {{#if (eq componentName.componentName "accordion-hospital")}}
                {{component.component }}
            {{/if}}
        {{/mapping-components}}
    </div>

</div>
<div local-class="column left">
    {{#mapping-components data.component_data as |componentName component|}}
        {{#if (eq componentName.componentName "vertical-tabs")}}
            {{component.component }}
        {{/if}}
    {{/mapping-components}}
</div>
<div local-class="column right">
    {{#mapping-components data.component_data as |componentName component|}}
        {{!-- {{#if (eq componentName.componentName "target-person-card")}}
            {{component.component }}
        {{/if}} --}}
        {{#if (eq componentName.componentName "vertical-right-tabs")}}
            {{component.component }}
        {{/if}}
    {{/mapping-components}}
</div>
{{!-- {{/mapping-components}} --}}
{{yield}}
