<div local-class="column left">

    {{vertical-tabs getMandN=(action 'getMandNs')}}
</div>
<div local-class="column center">
    <div local-class="inside">
        {{target-hospital-info-card getHospCardInfo=(action 'getHospCardInfo')}}
    </div>
</div>
<div local-class="column right">
    <div local-class="inside">
            <h2 local-class="title">时间分配</h2>
            {{manager-input-card getManagerTime=(action 'getManagerTime') managerInput=(action 'managerInput')}}

            {{rep-input-card getInputCard=(action 'getInputCard') repInput=(action 'repInput')}}
    </div>
</div>
{{!-- {{yield}} --}}
