<div local-class="column left">

    {{vertical-tabs getMandN=(action 'getMandNs')}}
</div>
<div local-class="column center">
    <div local-class="inside">
        {{#each data as |item|}}
            {{target-hospital-info-card hospItem=item}}
        {{else}}
            <h4>暂无数据</h4>
        {{/each}}
    </div>
</div>
<div local-class="column right">
    <div local-class="inside">
            <h2 local-class="title">时间分配</h2>
            {{manager-input-card mdata=mdata}}

            {{#each repList as |item|}}
                {{rep-input-card repItem=item uuid=uuid}}
            {{/each}}
            
    </div>
</div>
