<div local-class="column left">
    {{#mapping-components data.component_data as |componentName component|}}
        {{#if (eq componentName.componentName "vertical-tabs")}}
            {{component.component }}
        {{/if}}
    {{/mapping-components}}
</div>
<div local-class="column center">
    {{#mapping-components data.component_data as |componentName component|}}
        {{#if (eq componentName.componentName "target-hospital-info-card")}}
            {{component.component }}
        {{/if}}
    {{/mapping-components}}
</div>
<div local-class="column right">
    <div local-class="inside">
        {{!-- <div local-class="manager-rep-input"> --}}
            <h2 local-class="title">时间分配</h2>
            {{manager-input-card }}
            {{#mapping-components data.component_data as |componentName component|}}
                {{#if (eq componentName.componentName "rep-input-card")}}
                    {{component.component }}
                {{/if}}
            {{/mapping-components}}
        {{!-- </div> --}}

    </div>
</div>
{{!-- {{yield}} --}}
