<div local-class="content" class="container">
	<div local-class="close" class="row">
		<img src="https://pharbers-images.oss-cn-beijing.aliyuncs.com/pharbers-tm-decision-ember-addon/talent-close.jpg" {{action "close"}} alt="关闭">
	</div>
	<div class="row" local-class="content">
		{{manager-times }}
		{{#mapping-components data.component_data as |componentName component|}}
			{{#if isShowList}}
				{{#if (eq componentName.componentName 'target-representative-card')}}
					<div local-class="all-reps" class="col-md-9">
						<p local-class="title">成员能力概况</p>
						{{component.component details=(action 'details')}}
					</div>
				{{/if}}
			{{else}}
				{{#if (eq componentName.componentName 'target-rep-detail')}}
					{{component.component rid=select_repid backList=(action 'backList')}}
				{{/if}}
			{{/if}}
		{{/mapping-components}}
	</div>
</div>