{{#each data as |target|}}
<div local-class="drug-item container">
  <div local-class="c-inside right">
	  <p local-class="title">{{target.prod_name}}-{{target.prod_category}}</p>
	  <div local-class="feature">
		  {{#bs-button tagName='div' local-class="point"}}
            <div local-class="card-out">
                <div local-class="heal card-inside">
                    <div local-class="card-title">
                        <span>治疗领域：</span>
                    </div>
                    <div local-class="card-content">
                        {{#each (string-to-array target.therapeutic_field ',') as |area|}}
                            <span local-class="heal-span" >{{area}}</span>
                        {{/each}}
                    </div>
                </div>

                <div local-class="department card-inside">
                    <div local-class="card-title">
                        <span>目标科室：</span>
                    </div>
                    <div local-class="card-content">
                        {{#each (string-to-array target.target_department ',') as |depart|}}
                            <p local-class="depart">{{depart}}</p>
                        {{/each}}
                    </div>

                </div>
            </div>

			  {{#bs-popover triggerEvents="hover" title=target.prod_name local-class="popover-medic"}}
			  <div local-class="c-inside right">
				  <p local-class="subtitle">{{target.prod_category}}</p>
                  <p local-class="heal">
					  <span>治疗领域：</span>
					  {{#each (string-to-array target.therapeutic_field ',') as |area|}}
						  <span local-class="heal">{{area}}</span>
					  {{/each}}
				  </p>
				  <p local-class="department">
					  <span>目标科室：</span>
					  {{#each (string-to-array target.target_department ',') as |depart|}}
						  <span local-class="depart">{{depart}}</span>
					  {{/each}}
				  </p>
				  <p local-class="feature">
					  <span>产品特点：</span>
					  <p>{{target.prod_features}}</p>
				  </p>
			  </div>
			  {{/bs-popover}}
		  {{/bs-button}}
	  </div>
  </div>
</div>
{{else}}
    <p>暂无数据</p>
{{/each}}
