{{#each data as |item|}}
	<div local-class="hosp-intro">
		<div local-class="basic-info">
			<div local-class="circle-left">
			</div>
			<div local-class="circle-right">
			</div>
			<img local-class="avatar" src= {{item.hospital.hosp_image}} alt="">
			<div local-class="name">
				<p>{{item.hospital.hosp_name}}</p>
				<p>{{item.hospital.hosp_category}}/{{item.hospital.hosp_level}}</p>
			</div>
		</div>
		<div local-class="tag">
			<p local-class="tag-title">重点科室：</p>
			<div local-class="tag-card blue">
				{{#each (string-to-array item.hospital.focus_department ';' 3) as |value|}}
					<p>{{value}}</p>
				{{/each}}
			</div>
		</div>
		<div local-class="tag">
			<p local-class="tag-title">特色门诊：</p>
			<div local-class="tag-card">
				<div local-class="tag-card green">
					{{#each (string-to-array item.hospital.featured_outpatient ';' 3) as |value|}}
						<p>{{value}}</p>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
{{else}}
<h4>暂无数据</h4>
{{/each}}
