<div local-class="hosp-intro">
    <div local-class="basic-info">
        <img local-class="avatar" src="https://pharbers-images.oss-cn-beijing.aliyuncs.com/pharbers-tm-hospital-list-ember-addon/hosp_avatar.png" alt="">
        <div local-class="name">
            <p>{{data.hosp_name}}</p>
            <p>{{data.hosp_category}}/{{data.hosp_level}}</p>
        </div>
    </div>
    <p local-class="highlight"> <span>特色科室</span> <span>{{data.focus_department}}</span> </p>
    <p local-class="highlight"> <span>病床数量</span> <span>{{number-format data.beds}}</span> </p>
    <p local-class="highlight"> <span>门诊人次/年</span> <span>{{number-format data.outpatient_yearly}}</span> </p>
    <p local-class="highlight"> <span>手术台数/年</span> <span>{{number-format data.surgery_yearly}}</span> </p>
    <div local-class="user-info">
        {{#each data.representives as |item|}}
            <p>{{item.rep_name}}</p>
            <img src={{item.rep_image}} alt="">
        {{/each}}
    </div>
</div>
