<div local-class="rep-detail">
	<div local-class="left inside">
		<p local-class="back">
			<span {{action 'backList'}}>&lt;&nbsp;返回</span>
		</p>
		{{#each data as |item|}}
			{{#if (eq item.id rid)}}
				<p local-class="avatar">
					<img src= {{item.lable.rep_image}} alt="">
				<p>{{item.lable.name}}</p>
				</p>
				<p local-class="self">
					<span>{{item.lable.age}}岁/</span>
					<span>{{item.lable.education}}/</span>
					<span>{{item.lable.profe_bg}}/</span>
					<span>{{item.lable.service_year}}年工作经验/</span>
					<span>入职{{item.lable.entry_time}}年</span>
				</p>
				<div local-class="square">
					{{#each item.self_business as |sb|}}
						<p>
							<span>{{sb.title}}：</span>
							{{#each sb.value as |val|}}
								<span>{{val}}</span>
							{{/each}}
						</p>
					{{/each}}
				</div>
				<div local-class="scores">
					{{#each item.score as |sc|}}
						<div local-class="s-inside">
							<p>{{sc.title}}</p>
							<p>{{sc.value}}</p>
						</div>
					{{/each}}
				</div>
			{{/if}}
		{{/each}}
	</div>
	<div local-class="right inside">
		{{#each manager_rep_time_inputs.managerRepArraryObject as |item|}}
			<div local-class="input-area">
				<p>{{item.lable}}</p>
				<p local-class="input-text">{{input type="number" local-class="t-input" value=item.value}}<span local-class="day">天</span></p>
			</div>
		{{/each}}
		<div local-class="input-area">
			<p>团建/例会</p>
			<p local-class="input-text"><span local-class="daysnum">{{teamBuilding}}</span><span local-class="day">天</span></p>
		</div>
	</div>
</div>
