{{yield}}
	<div local-class="representative"  {{action 'show' data.id}}>
		<div class="container">
			<div local-class="name" class="col-md-4">
				<img local-class="avatar" src= {{data.avatar}} alt="user avatar">
				<span local>{{data.name}}</span>
			</div>
			<div class="col-md-8">
				{{#each data.showinfo as |info|}}
					<div local-class="info">
						<p>{{info.key}}</p>
						<p>{{info.value}}</p>
					</div>
				{{/each}}
			</div>
		</div>

	</div>
