<div local-class="hosp-intro">
	<div local-class="basic-info">
		<div local-class="circle-left">
		</div>
		<div local-class="circle-right">
		</div>
		<img local-class="avatar" src= {{hospItem.hospital.hosp_image}} alt="">
		<div local-class="name">
			<p>{{hospItem.hospital.hosp_name}}</p>
			<p>{{hospItem.hospital.hosp_category}}/{{hospItem.hospital.hosp_level}}</p>
		</div>
	</div>
	<div local-class="tag">
		<p local-class="tag-title">重点科室：</p>
		<div local-class="tag-card blue">
			{{#each (string-to-array hospItem.hospital.focus_department ';' 3) as |value|}}
				<p>{{value}}</p>
			{{/each}}
		</div>
	</div>
	<div local-class="tag">
		<p local-class="tag-title">特色门诊：</p>
		<div local-class="tag-card">
			<div local-class="tag-card green">
				{{#each (string-to-array hospItem.hospital.featured_outpatient ';' 3) as |value|}}
					<p>{{value}}</p>
				{{/each}}
			</div>
		</div>
	</div>
</div>