{{#each data as |medic|}}
	<div local-class="medicine medicine-component">
		<div local-class="medicine-left">
			<p local-class="title">{{medic.prod_category}}</p>
			<div local-class="properties">
				{{#each medic.overview as |ov|}}
					<div local-class="property">
						{{#if (eq ov.key '增长潜力')}}
							<p>{{ov.key}}</p>
							<p>{{number-to-percent ov.value}}%</p>
							{{else if (eq ov.key '上期增长')}}
							<p>{{ov.key}}</p>
							<p>{{number-to-percent ov.value}}%</p>
							{{else if (eq ov.key '份额')}}
							<p>{{ov.key}}</p>
							<p>{{number-to-percent ov.value}}%</p>
							{{else if (eq ov.key '上期贡献率')}}
							<p>{{ov.key}}</p>
							<p>{{number-to-percent ov.value}}%</p>
						{{else}}
							<p>{{ov.key}}</p>
							<p>{{number-format ov.value}}</p>
						{{/if}}

					</div>
				{{/each}}
			</div>
			<div local-class="compare">

				{{#bs-tab customTabs=true tagName="" as |tab| }}
					{{#bs-nav type="pills" local-class="left-tabs" stacked=true as |nav|}}
						{{#nav.item local-class="tab" active=(bs-eq tab.activeId medic.detail.id)}}
							<a local-class="tabsa" href= {{medic.href}} class="nav-link" role="tab" {{action tab.select medic.detail.id}}>
							{{!-- {{fa-icon "line-chart"}} --}}
							<span class="badge">{{badge}}</span>
						</a>
						{{/nav.item}}
						{{#nav.item local-class="tab" active=(bs-eq tab.activeId medic.history.id)}}
							<a local-class="tabsa" href= {{medic.href}} class="nav-link" role="tab" {{action tab.select medic.history.id}}>
							{{!-- {{fa-icon "history"}} --}}
						</a>
						{{/nav.item}}
						{{#nav.item local-class="tab" active=(bs-eq tab.activeId medic.compete_goods.id)}}
							<a local-class="tabsa" href= {{medic.href}} class="nav-link" role="tab" {{action tab.select medic.compete_goods.id}}>
							{{!-- {{fa-icon "list"}} --}}
						</a>
						{{/nav.item}}
					{{/bs-nav}}

					<div class="tab-content" local-class="right-content">
						{{#tab.pane local-class="medicine-detail" elementId=medic.detail.id title="Tab 1" }}
							<p><span></span>药品详情</p>
							{{detail-table }}
						{{/tab.pane}}

						{{#tab.pane local-class="medicine-detail" elementId=medic.history.id title="Tab 2" }}
							<p><span></span>历史部署</p>
							{{detail-table }}
						{{/tab.pane}}

						{{#tab.pane local-class="medicine-detail" elementId=medic.compete_goods.id title="Tab 3" }}
							<p><span></span>竞品销售分析</p>
							{{detail-table }}
						{{/tab.pane}}
					</div>
				{{/bs-tab}}

			</div>
		</div>
		<div local-class="medicine-right">

			{{#each values as |item|}}
			 	{{#if (eq medic.id item.medicid)}}
					<div local-class="inputarea">
					  <div local-class="input-left">
						  <p>{{item.lable}}</p>
						  <p>{{input type="number" value=item.value}}<span>{{item.unit}}</span></p>
					  </div>
					  <div local-class="input-right">
						  <p>{{item.computed_field}}</p>
						  <p>{{item.computedVal}}</p>
					  </div>
				  </div>
			 	{{/if}}
			{{/each}}
		</div>
	</div>

{{/each}}
