{{!-- {{#each model as |value|}}
    {{target-hospital-card data=value}}
    {{target-goods-card data=value}}
{{/each}} --}}
{{!-- <h2>hospital detail</h2> --}}
{{!-- {{#each model as |value|}}
    {{target-detail-hospital-card }}
    {{target-detail-medicines-card }}
{{/each}} --}}
{{!-- <h2>evaluation card</h2> --}}
{{!-- {{evaluation-title-card }} --}}

{{!-- {{ability-card }} --}}
{{!-- <h2>representative card</h2> --}}
{{!-- {{target-representative-card }} --}}
{{!-- <h2>notice card</h2> --}}
{{!-- {{notice-target-card }} --}}

{{drug-item }}

{{!-- {{evaluation-summary-card }} --}}
{{outlet}}
